!!! XML
!!!
%html
	%head
		%link(rel="stylesheet"
		href="/style.css"
		type="text/css"
		media="screen"
		title="no title"
		charset="utf-8")
		%meta(name="viewport"
		content="width=320, user-scalable=yes")
		%meta(name="apple-mobile-web-app-capable"
		content="yes")
		
		%title 
			TCOM Prices
	%body
		%h1{:id => "euro"}
			= @euro
		%h1{:id => "gold"}
			= @gold
		%h1{:id => "oil"}
			= @oil