/* @override http://localhost:4567/style.css */

body {
	margin: 0px;
	padding: 0px;
	font-family: "Futura", "Helvetica Neue", "Helvetica", Arial, Helvetica, Geneva, sans-serif; 
	text-align: center;
}

h1 {
	font-size: 500%;
	margin: 20px;
}

#gold {
	color: goldenrod;
}

#euro {
	color: #27753c;
}

